<%- model_class = Post -%>
<div class="page-header">
  <h1>
    Latest Post
  </h1>
</div>

<div class="span8 blogContent">

    <% @posts.each do |post| %>

    <div class="row-fluid blogPost">
      <div class="title">
        <blockquote>
          <p><%= link_to post.title, post_path(post) %></p>
          <small><%= post.created_at.to_formatted_s(:long) %></small>
        </blockquote>
      </div>

      <div class="blogContent">
      <p><%= post.introtext %></p>

      </div>
       <small>By <%= post.user.email %> Posted in <%= post.category.name %></small>
       <p>
       <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </p>
    </div>
    <hr>
    <% end %>

    <p>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
    </p>
</div>


