<%- model_class = Post -%>
<div class="span8 blogContent">
    <div class="row-fluid blogPost">
      <div class="title">
        <blockquote>
          <p><%= @post.title %></p>
          <small><%= @post.created_at.to_formatted_s(:long) %></small>
        </blockquote>
      </div>

      <div class="blogContent">

      <p><%= @post.introtext %></p>
      <p>
        <% @raw = @post.description %>
        <%= @raw.html_safe %>
      </p>
      <p><%= @post.status %></p>

      </div>
       <small>By <%= @post.user.email %> Posted in <%= @post.category.name %></small>
       <p>
       <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
        
        <% if current_user && current_user.id==@post.user_id%>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        <% end%>
        </p>

      <hr>
      <div style="margin-left:20px;">
      <h4>Comments</h4><br>
      <% @post.comments.each do |comment| %>

      <% if comment.id %>
      <div class="title">
            <blockquote>
              <p><%= comment.user.try(:email) %></p>
              <small><%= comment.created_at.to_formatted_s(:long) %></small>
            </blockquote>

            <div class="blogContent">
              <%= comment.description %>
            </div

            <% if current_user && current_user.id==comment.user_id%>
            <p>
              <%= link_to 'Edit', '/',class: 'btn' %>
              <%#= link_to 'Edit', edit_comment_path(comment) %>
              <%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
            <% end%>
      </div>
      <% end %>
    <% end %>
    </div>
    </div>
    <hr>
    <%= render 'comments/form'%>
</div>